@model IEnumerable<TransactionDto>
@{
    ViewData["Title"] = "Transactions";
}

<style>
    .transactionList {
        font-family: Consolas, monaco, monospace;
    }
</style>

<h2>@ViewData["Title"]</h2>

<table>
    @{
        foreach (var transactionDto in Model)
        {
            <tr>
                <td>
                    <span class="transactionList">@transactionDto.GetTransactionLine()</span>
                </td>
            </tr>
        }
    }
</table>

